<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reversi</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src='/js/script.js'></script>
  <script src='/js/underscore.js'></script>
</head>

<body>

  <header class="container-fluid">
    <h1>Reversi</h1>
  </header>

  <div class="container-fluid">

    <table id="board_table">
      <tbody>
        <% (1..8).each do |y| %>
          <tr>
            <% @game.cells.row(y).each_value do |cell| %>
              <td class="cell<%= ' movable' if @game.moves.has_key? cell.index %> cell_<%= cell.index %>" id="cell_<%= cell.index %>" data-index="<%= cell.index %>">
                <span class="disc <%= cell.color.send(:to_s) %>"></span>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="operator">
      <div class="clearfix">
        <p class="pull-left">ターン: <strong class="current_turn"><%= @game.turn %></strong></p>
        <div class="pull-right">
          <button class="btn btn-danger btn-alert reset">リセット</button>
        </div>
      </div>
      <div class="moves text-center"></div>
      <p class="error"><%= @error if @error %></p>
    </div>

  </div>

  <footer class="container-fluid">
    <% if @request.dev? %>
    <ul>
      <% @request.inspect.split(', "').each do |val| %>
        <li><%= val.inspect %></li>
      <% end %>
    </ul>
    <% end %>
  </footer>

</body>
</html>
