<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reversi</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src='/js/script.js'></script>
</head>

<body>
  <header class="container">
    <h1>Othello</h1>
  </header>

  <div class="container center">

    <table>
      <tbody>
        <% (1..8).each do |y| %>
          <tr>
            <% @board.cells.row(y).each_value do |cell| %>
              <td class="cell<%= ' movable' if @board.move.moves.has_key? cell.index %> cell_<%= cell.index %>" id="cell_<%= cell.index %>" data-index="<%= cell.index %>">
                <span class="disc <%= cell.color.send(:to_s) %>"></span>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <footer class="container">

    <div>
      <div class="clearfix">
        <p class="pull-left">ターン: <strong><%= @board.turn %></strong></p>
        <div class="pull-right">
          <button class="btn btn-danger btn-alert" onclick="location.href='/reset'">リセット</button>
        </div>
      </div>
      <div class="center">
        <% if @board.move.moves.empty? %>
          <button class="btn btn-default pass">パス</button>
        <% end %>
        <% @board.move.moves.each do |index, reversibles| %>
          <button class="btn btn-default move cell_<%= index %>" data-index="<%= index %>">
            <%= index %>
            <span class="hidden reversible_cell_json">
              <%= reversibles.map {|cell| cell.index }.to_json %>
            </span>
          </button>
        <% end %>
      </div>
    </div>


    <p><%= @error if @error %></p>

    <% if @request.dev? %>
    <ul>
      <% @request.inspect.split(', "').each do |val| %>
        <li><%= val.inspect %></li>
      <% end %>
    </ul>
    <% end %>
  </footer>

</body>
</html>
